.main {
  border: 2px solid black;
  /* border: 2px solid red; */
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookResult {
  margin-right: 5px;
}